.navbar {
  align-self: flex-start;
  position: sticky;
  z-index: 15;
  top: 0;
  display: flex;
  justify-content: center;
  height: var(--navbar-height);
  font-size: var(--navbar-text-size);
  background-color: var(--nav-bg);
}

.expandedList {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  min-height: 100%;
}

.navLink {
  transition: background-color 0.1s ease-in;
  background-color: unset;

  &:active,
  &:focus {
    background-color: var(--foreground-bg);
  }
}

.navLink {
  --duration: 0.2s;
  overflow: hidden;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid transparent;
  font-size: var(--navbar-text-size);
  font-family: "Orbitron Bold";
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-font-color);

  // Trace border when mouse is hovering

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 4;
    display: block;
    width: 0;
    height: 0;
  }

  &::before {
    bottom: 0;
    left: 100%;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
  }

  &::after {
    top: 0;
    right: 100%;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    border-color: var(--secondary-color);
  }

  &:hover::before {
    left: 0;
    height: 100%;
    transition: left var(--duration) linear,
      height var(--duration) linear var(--duration);
  }

  &:hover::after {
    right: 0;
    height: 100%;
    transition: right var(--duration) linear calc(var(--duration) * 2),
      height var(--duration) linear calc(var(--duration) * 3);
  }
}

.mobileMenu {
  display: none;
}

@media (max-width: 700px) {
  .expandedList {
    display: none;
  }

  .hamburgerMenu {
    position: absolute;
    top: 9px;
    right: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 50px;
    height: 50px;
    margin: auto 0;
    border-radius: 5px;
    cursor: pointer;
    transition: right 0.8s ease-in-out;

    &.active {
      right: 265px;
    }

    div {
      $width: 80%;
      $height: 8px;
      width: $width;
      height: $height;
      background-color: #000;
    }
  }

  .mobileMenuWrapper {
    position: fixed;
    z-index: 16;
    top: 0;
    overflow: hidden;
    pointer-events: none;
    max-width: 100%;
    width: 100%;
    height: 100%;

    * {
      pointer-events: auto;
    }
  }

  .mobileMenu {
    position: absolute;
    top: 0;
    right: -250px;
    z-index: 17;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 250px;
    width: 250px;
    height: 100vh;
    background-color: var(--overlay-bg);
    color: var(--main-font-color);
    transition: right 0.8s ease-in-out;

    &.visible {
      right: 0;
    }

    li {
      width: 100%;
      text-align: center;
    }

    .navLink {
      width: 100%;
      border-radius: 0;
    }

    a {
      width: 100%;
      font-size: calc(var(--main-text-size) * 1.5);
    }
  }
}
