.featuredContainer {
  display: flex;
  gap: 15px;
  max-width: calc(100% - 25px);
  width: 960px;
  min-height: 300px;
  height: fit-content;
  background-color: var(--foreground-bg);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;

  &.hide {
    opacity: 0;
    transform: translateY(40px);
  }
}

.imageWrapper {
  width: fit-content;
  height: fit-content;

  img {
    object-fit: contain;
  }
}

.body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
}

@media (max-width: 750px) {
  .featuredContainer {
    flex-direction: column;
    align-items: center;
  }

  .imageWrapper {
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
