@keyframes flicker {
  from {
    filter: brightness(100%);
  }

  20% {
    filter: brightness(85%);
  }

  40% {
    filter: brightness(90%);
  }

  60% {
    filter: brightness(75%);
  }

  80% {
    filter: brightness(85%);
  }

  to {
    filter: brightness(70%);
  }
}

@keyframes passerby {
  from {
    left: 250%;
  }
  to {
    left: 0%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.portraitContainer {
  position: relative;
  overflow: hidden;
  max-width: calc(100% - 20px);
  animation: 0.6s ease-in 0s fadein;
}

.portraitWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 15px;

  img {
    animation: flicker 17s infinite alternate linear;
    transform: rotate(-0.5deg);
  }
}

.textBody {
  color: var(--primary-color);
}

@media (max-width: 780px) {
  .portraitContainer {
    flex-direction: column;
    align-items: center;
  }
}
