h1.heading::after {
  animation-timing-function: steps(25, end);
  animation-duration: 1s;
}

h2.heading::after {
  animation-timing-function: steps(25, end);
  animation-duration: 0.5s;
  animation-delay: 1s;
}

.mainContent {
  align-items: center;
  gap: 10px;

  > article {
    margin-bottom: 25px;
  }
}

.iconContainer {
  gap: 50px;
  margin: 20px 0;
}

@keyframes typewriter {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.typewriter {
  position: relative;
  width: fit-content;

  &::after {
    position: absolute;
    top: -5px;
    right: -1px;
    display: block;
    content: "";
    width: calc(100% + 1px);
    height: 200%;
    overflow: hidden;
    white-space: nowrap;
    animation-name: typewriter;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: var(--body-bg);
  }
}
